.myworks {
  background: var(--white);
  padding: 40px 60px;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.myworks__title {
  left: -85px;
  top: -130px;
  transition: top 0.5s 0.5s ease;

  &.is-showed {
    top: 112px;
  }

  @include desktop {
    transition: transform 0.5s 0.5s ease;
    text-align: center;

    &.is-showed {
      transform: translateY(0px);
    }
  }
}

