.scroll {
  position: absolute;
  bottom: 80px;
  height: 50px;
  width: 30px;
  border-radius: 30px;
  border: 2px solid var(--darkblue);
  opacity: 0;
  animation: visible 1s 1.8s forwards;

  &::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--blue);
    left: 50%;
    top: 20%;
    transform: translate(-50%);
    animation: scrolldown 1.5s 1s infinite;
  }

  &::before {
    content: 'scroll !';
    position: absolute;
    text-transform: uppercase;
    font-size: 12px;
    width: 100px;
    text-align: center;
    left: 50%;
    bottom: -25px;
    transform: translateX(-50%);
    animation: scrolldownMove 0.75s 1s alternate infinite;
  }
}