
.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0 auto;
  
  @include desktop {
    max-width: 1200px;
  }
}

.works__line {  
  @include desktop {
    position: absolute;
    // width: 3px;
    width: 2px;
    height: 300px;
    // background: linear-gradient(transparent, var(--blue), transparent);
    background: var(--blue);
  }
}